body{


    margin: 0;
    padding: 0;
    background-image: url("../images/background.jpg");
    background-size: 100%;
	position: center center;
	background-repeat: no-repeat;
	font-size: 19px;
	font-family: sans-serif;
}

.container{

width: 80%;

margin: 5% auto;
}

.amader-form{

margin: 0;

padding: 0;

background: rgba(52,73,94,0.7);

padding: 15px 20px;

width: 60%;

margin: auto;
}

.amader-form label{

color: #f4f4f4;

display: block;

font-family: serif;

line-height: 1.8em;

margin: auto;

width: 60%;
}

.amader-form input{

display: block;

width: 60%;

color: #a4adb7;

background: #00000040;

font-weight: 900;

border: 1px solid yellow;

border-radius: 5px;

font-size: 19px;

text-align: justify;

margin: auto;

font-family: sans-serif;
}

.amader-form textarea{

display: block;

margin: 15px auto;

background-color: transparent;

color: #fff;

border: 1px solid yellow;

width: 50%;

/* margin: 15px 25px; */

border-radius: 5px;

/* margin: auto; */
}

.amader-form input[type="submit"]{
    width: 150px;
    margin: 15px auto;
    display: block;
    padding: 6px;
    text-align: center;
}


.form-group{



}

.amader-form p{

color: #fff;

text-align: center;
}

.amader-form a{

color: yellow;

text-decoration: none;
}